body{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-around;
    max-width: 1600px;
    height: 92px;
    
}
.button{
    background-color: #30B868;
    max-width: 164px;
    border: 1px solid #30B868 ;
    border-radius:5px;
    color: #FFFFFF;
}
.nav-2{
    display: flex;
    list-style: none;
    gap: 0 32px;
    margin: 34px 0;
}
.nav-2 a{
    text-decoration: none;
    color: black;
}
nav img{
    margin: 16px 0;
}
nav button{
    margin: 24px  0;
}