*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    max-width: 1600px;
}
nav{
    display: flex;
    justify-content: space-around;
    max-width: 1600px;
    height: 92px;
    
}
button:hover{
    color: orangered;
    border: 1px solid red;
}
.button{
    background-color: #30B868;
    width: 164px;
    border: 1px solid #469165 ;
    border-radius:5px;
    color: #FFFFFF;
}
.nav-2{
    display: flex;
    list-style: none;
    gap: 0 32px;
    margin: 34px 0;
}
.nav-2 a{
    text-decoration: none;
    color: black;
}
nav img{
    margin: 16px 0;
}
nav button{
    margin: 24px  0;
}
#banner{

  height: 674px;
  background: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  color: white;
  width: 100%;
}
#banner .banner-container{
    max-width: 1360px;
    padding: 115px 120px 180px 120px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.banner-container .early{
    color: #30B868;
    background-color: white;
    width: 229px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 100;
    margin: 0 auto;
  
}
#banner .button{
    display: flex;
    gap: 20px;
    margin:0 auto;
}
.banner-container h1{
    max-width: 770px;
    margin: 0 auto;
    font-size: 72px;
}
.banner-container .taking{
    color: #30B868;
}
.banner-container p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.banner-bottom{
  display: inline-flex;
  gap: 20px;
}
.button-2{
    padding: 16px 25px 16px 16px;
    width: 251px;
}
.button-3{
    width: 198px;
    background: transparent;
    color: white;
    border: 1px solid white;
}
.point{
    background-color: #30B868;
    border-radius: 50%;
}
#notes-section{
    padding-top: 30px ;
}

#notes-section .notes-heading{
    max-width: 1360;
    margin: 0 auto;
    text-align: center;
}
#notes-section .notes-heading h1{
    color: #001931;
    font-size: 48px;
    margin-top: 10px;
}
.notes-heading {
    color: #627382;
    
}
.notes-heading p{
    margin-bottom: 54px;
}
.card{
    display: flex;
    gap: 24px;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
}
.card img{
  background-color: #F95555;
  padding: 14px;
  border-radius: 50%;
  border: none;
}
.card .notes-button{
    border: none;
    background-color: white;
    padding: 50px 130px 30px 130px;
}
.cards{
    
    border-radius: 10px;
    max-width: 325px;
    box-shadow:1px 5px 5px rgba(0, 0, 0, 0.116);
}
.cards-info{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.cards-text{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
#brain-section{
    margin: 120px;
    
}
.brain-img img{
    max-width: 600px;
}
.brain-container{
    display: flex;
    gap: 60px;
    align-items: center;
}
.solution-heading{
    color: #469165;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
}
.solution h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.solution p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
}
.solution-list li{
    color: #001931;
    margin-bottom: 16px;
    line-height: 20px;
    list-style: none;
}
#early-section{
    margin-top: 0px;
}
.early-container{
    margin: 0 auto;
    align-items: center;
    text-align: center;
    
    max-width: 1360px;
    background-color: #ecfdf3;
    padding-top: 80px;
    padding-bottom: 80px;
}
.early-container h1{
    color: #001931;
    font-size: 40px;
    margin-bottom: 16px;
}
.early-container .p1{
    color: #627382;
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 24px;
    
}
.early-button{
    width: 194px;
    padding: 16px;
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.early-container .p2{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
 
}
footer{
    max-width: 1600px;
    background-color: #001931;
    margin-top: 120px;
    padding: 120px 120px 80px 120px;
}
.footer-container{
   
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.footer-ul{
    display: flex;
    gap:16px;
}
.footer-ul .footer-li{
    list-style: none;
}
.footer-social p{
    font-size: 20px;
    line-height: 28px;
    color: white;
}
footer p small{
    line-height: 20px;
    color: #FAFAFA;
    text-align: center;
}
.small p{
    text-align: center;
    margin-top: 30px;
}
.footer-ul .footer-li:hover{
    cursor: pointer;
    
}