body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    max-width: 1600px;
    height: 92px;
    
}
.button{
    background-color: #30B868;
    width: 164px;
    border: 1px solid #30B868 ;
    border-radius:5px;
    color: #FFFFFF;
}
.nav-2{
    display: flex;
    list-style: none;
    gap: 0 32px;
    margin: 34px 0;
}
.nav-2 a{
    text-decoration: none;
    color: black;
}
nav img{
    margin: 16px 0;
}
nav button{
    margin: 24px  0;
}
#banner{

  height: 674px;
  background: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  color: white;
}
#banner .banner-container{
    max-width: 1360px;
    padding: 115px 120px 180px 120px;
    margin: 0 auto;
    align-items: center;
    text-align: center;
}
.banner-container .early{
    color: #30B868;
    background-color: white;
    width: 229px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 100;
    margin: 0 auto;
  
}
#banner .button{
    display: flex;
    gap: 20px;
    margin:0 auto;
}
.banner-container h1{
    max-width: 770px;
    margin: 0 auto;
    font-size: 72px;
}
.banner-container .taking{
    color: #30B868;
}
.banner-container p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.banner-bottom{
  display: inline-flex;
  gap: 20px;
}
.button-2{
    padding: 16px 25px 16px 16px;
    width: 251px;
}
.button-3{
    width: 198px;
    background: transparent;
    color: white;
    border: 1px solid white;
}
.point{
    background-color: #30B868;
    border-radius: 50%;
}